<button ybButton warning>
  Warning
</button>
<button ybButton error>
  Error
</button>
<button ybButton info>
  info
</button>
<button ybButton focus>
  Focus
</button>
<button ybButton success>
  Success
</button>

<button ybButton appearance="filled" warning>
  Warning
</button>
<button ybButton appearance="filled" error>
  Error
</button>
<button ybButton appearance="filled" info>
  info
</button>
<button ybButton appearance="filled" focus>
  Focus
</button>
<button ybButton appearance="filled" success>
  Success
</button>
