<button ybButton routerLink="/item/123" warning>
  Warning
</button>
<button ybButton routerLink="/item/123123" error>
  Error
</button>
<button ybButton routerLink="/item/123" info>
  info
</button>
<button ybButton routerLink="/item/123" focus>
  Focus
</button>
<button ybButton routerLink="/item/123" success>
  Success
</button>

<button ybButton routerLink="/item/1234" appearance="filled" warning>
  Warning
</button>
<button ybButton routerLink="/item/123124" appearance="filled" error>
  Error
</button>
<button ybButton routerLink="/item/1234" appearance="filled" info>
  info
</button>
<button ybButton routerLink="/item/1234" appearance="filled" focus>
  Focus
</button>
<button ybButton routerLink="/item/1234" appearance="filled" success>
  Success
</button>
